.view-guests {
  width: 75%;
  margin: 75px auto;
      .views-row {
        width: 33%;
        display: inline-block;
        text-align: center;
        margin: 0 0 40px 0;
        @include media-breakpoint-down(md) {
          width: 100%;
        }
        .views-field-field-guest-image {
          margin: 5px 0 15px 0;
          img {

          }
        }
        .views-field-title {
          text-transform: uppercase;
        }
        .views-field-field-guest-description {
          text-transform: uppercase;
          font-size: 14px;
        }
      }
}

.block-views-blockguests-block-1 {
  h2 {
    margin: 50px 0 0 0;
  }
}