body {
  font-family: "Lato", sans-serif !important;
}
.path-node {
  .main-content {
    margin-top: 150px;
  }
}
.page-node-34,
.page-node-5 {
  .main-content {
    margin-top: 0;
  }
}
.buy-button {
  img {
    position: relative;
    right: -15px;
    top: 15px;
    z-index: 999;
    width: auto;
    height: auto;
  }
}
