.node--type-guest {
  .node__content {
    .field--name-field-guest-description {
      text-align: center;
      text-align: center;
      font-size: 30px;
      margin: 30px 0;
    }
    .field--name-field-guest-image {
      float: none;
      text-align: center;
    }
  }
}
