.view-partners {
  h3 {
    display: inline-block;
    width: 100%;
    margin: 50px 0 10px 0;
    text-transform: uppercase;
  }
  .views-row {
    height: 130px;
    position: relative;
    width: 19%;
    float: left;
    margin: 0;
    text-align: center;
    outline: 1px solid lightgrey;
    margin-top: 1px;
    margin-left: 1px;
    @include media-breakpoint-down(md) {
      width: 33%
    }
    @include media-breakpoint-down(xs) {
      width: 100%
    }
    .views-field-nothing {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: 0 auto;
      img {
        transition: all .2s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }


    @include media-breakpoint-down(md) {
      //&:nth-child(3n+1) {
      //  border-right: none;
      //}
      //&:nth-child(5n+1) {
      //  border-right: 1px solid lightgrey;
      //}
    }
    //@include media-breakpoint-down(xs) {
    //  border-bottom: 1px solid lightgrey;
    //  border-right: none;
    //  &:nth-child(3n+1) {
    //    border-right: none;
    //  }
    //  &:nth-child(5n+1) {
    //    border-right: none;
    //  }
    //}
  }
}
