.view-program {
  margin-bottom: 50px;
  .view-content {
    .views-row {
      padding: 15px 0px;
      border-bottom: 1px solid lightgrey;
      .views-field-nothing {
        .item {
          span {
            @media (max-width: 767px) {
              display: block;
              padding: 10px 0;
              margin: 0 auto;
              text-align: center;
            }
          }
          .date {
            font-weight: bold;
            margin-right: 25px;
            @media (max-width: 767px) {
              margin-right: 0;
            }
          }
          .title {
            font-size: 24px;
            padding: 0 20px;
            @media (max-width: 767px) {
              font-size: 16px;
              margin-bottom: 5px;
            }
          }
          .link {
            float: right;
            border: 1px solid grey;
            border-radius: 40px;
            @media (max-width: 767px) {
              width: 230px;
              display: block;
              float: none;
            }
            a {
              display: block;
              color: $black;
              text-align: center;
              padding: 10px 25px;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    h3 {
      text-transform: uppercase;
    }
  }
  .view-header {
    .days {
      text-align: center;
      margin-bottom: 40px;
    }
  }
}
