.view-sponsors {
  width: 75%;
  margin: 0 auto;
  padding: 50px 0 70px 0;
  text-align: center;
  background: white;
  .views-row {
    display: inline-block;
    text-align: center;
    .views-field-field-guest-image {
      margin: 5px 0 15px 0;
      img {

      }
    }

    .views-field-title {
      text-transform: uppercase;
    }
    .views-field-field-gosc-opis {
      text-transform: uppercase;
      font-size: 14px;
    }
    .views-field-nothing {
      padding: 30px 0;
    }
  }

}

.paragraph--type--views-reference {
  .viewsreference--view-title {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin: 40px 0;
  }
}
